body {
  background-color: #0f0f23;
  background-image: none;
  background-size: cover;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}


h1 {
  font-size: 48px;
  margin-top: 50px;
}

#trainButton {
  background-color: transparent;
  background-image: url(https://media.discordapp.net/attachments/1067525557824266400/1071584631704535100/download.png);
  background-size: cover;
  background-repeat: no-repeat;  border: none;
  background-position: center;
  cursor: pointer;
  height: 200px;
  width: 200px;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0 0 10px #ffd700;
  animation: glowing 1s ease-in-out infinite alternate;
  border-radius: 50%;
}

@keyframes glowing {
  from {
    box-shadow: 0 0 5px #ffd700;
  }
  to {
    box-shadow: 0 0 20px #ffd700;
  }
}




#resetButton {
  height: 50px;
  width: 50px;
  background-color: orangered;
}

#buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#buttons1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

button.upgradeButton {
  display: block;
  margin-bottom: 10px;
}


.upgradeButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  background-color: #1DB954;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#centerImage {
  background-image: url(https://media.discordapp.net/attachments/1067525557824266400/1071579223191457802/D8OiWCt.png?width=586&height=586);
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin: 20px auto;
}